#map {
    height: 500px !important;
    display: inherit !important;
    width: 100%;
}
.pageNumbering{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.data-table{
    margin-top: 50px;
}
.inline-element{
    display: inline-block;
    margin-bottom: 20px;
}
.filters{
    margin-top: 60px;
}
#chart{
	background-color: #F5F2EB;
	border: 1px solid #CCC;
}
.trendline{
    fill:none;
    stroke: #ccc;
    stroke-width: 3px;
}
.area{
    opacity: 0.25;
    fill: #ccc;
    stroke: #ccc;
    stroke-width: 1px;
}
