#map {
    height: 500px !important;
    display: inherit !important;
    width: 100%;
}
.pageNumbering{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.data-table{
    margin-top: 50px;
}
.inline-element{
    display: inline-block;
    margin-bottom: 20px;
}
.filters{
    margin-top: 60px;
}
#chart{
	background-color: #F5F2EB;
	border: 1px solid #CCC;
}
#chart2{
    background-color: #F5F2EB;
	border: 1px solid #CCC;
    /*position: relative;*/
}
#graphWrapper{
    margin-right: 25px;
}
.tooltip{
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    font-size: 12px;
    padding: 10px;
    pointer-events: none;
    position: relative;
    text-align: center;
    width: 90px;
    z-index: 1000;
}
.trendline{
    fill:none;
    stroke: url(#temperature-gradient);
    stroke-width: 3px;
}
.area{
    opacity: 0.25;
    fill: #ccc;
    stroke: #ccc;
    stroke-width: 1px;
}
.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #000000;
}
