#map {
    height: 500px !important;
    display: inherit !important;
    width: 100%;
}
.pageNumbering{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.data-table{
    margin-top: 50px;
}
.inline-element{
    display: inline-block;
    margin-bottom: 20px;
}
.filters{
    margin-top: 60px;
}
