<div>
<table class="table table-striped table-condensed table-hover data-table" >
    <thead>
        <tr>
            <th>Crime Type</th>
            <th>Date</th>
            <th>Time</th>
            <th>Address</th>
            <th>Neighborhood</th>
        </tr>
    </thead>
    <tbody>
        <tr  ng-repeat="selectedCrime in selectedCrimes | pagination: curPage.value * pageSize | limitTo: pageSize" >
            <td>{{selectedCrime[12]}}</td>
            <td>{{selectedCrime[8].substring(0, 10)}}</td>
            <td>{{selectedCrime[9]}}</td>
            <td>{{selectedCrime[11]}}</td>
            <td>{{selectedCrime[16]}}</td>
        </tr>
    </tbody>
</table>
<nav aria-label="Page navigation" class="pageNumbering">
    <ul class="pagination">
        <li ng-click="prevPage()">
            <a href aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href >Page {{curPage.value + 1}} of {{selectedCrimes.length / pageSize | number:0}}</a></li>
        <li ng-click="nextPage()">
            <a href aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
</div>
