<div>
<table class="table table-striped table-condensed table-hover data-table" >
    <thead>
        <tr>
            <th>
                <a href="" ng-click="sortType = '[12]'; sortReverse = !sortReverse;">
                    Crime Type
                <span ng-show="sortType == '[12]' && sortReverse" class="caret caret-reversed"></span>
                <span ng-show="sortType == '[12]' && !sortReverse" class="caret"></span>
                </a>
            </th>
            <th>
                <a href="" ng-click="sortType = '[8]'; sortReverse = !sortReverse;">
                    Date
                <span ng-show="sortType == '[8]' && sortReverse" class="caret caret-reversed"></span>
                <span ng-show="sortType == '[8]' && !sortReverse" class="caret"></span>
                </a>
            </th>
            <th>
                <a href="" ng-click="sortType = '[9]'; sortReverse = !sortReverse;">
                    Time
                <span ng-show="sortType == '[9]' && sortReverse" class="caret caret-reversed"></span>
                <span ng-show="sortType == '[9]' && !sortReverse" class="caret"></span>
                </a>
            </th>
            <th>
                <a href="" ng-click="sortType = '[11]'; sortReverse = !sortReverse;">
                    Address
                <span ng-show="sortType == '[11]' && sortReverse" class="caret caret-reversed"></span>
                <span ng-show="sortType == '[11]' && !sortReverse" class="caret"></span>
                </a>
            </th>
            <th>
                <a href="" ng-click="sortType = '[16]'; sortReverse = !sortReverse;">
                    Neighborhood
                <span ng-show="sortType == '[16]' && sortReverse" class="caret caret-reversed"></span>
                <span ng-show="sortType == '[16]' && !sortReverse" class="caret"></span>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr  ng-repeat="selectedCrime in selectedCrimes | orderBy: sortType : sortReverse | pagination: curPage.value * pageSize | limitTo: pageSize" >
            <td>{{selectedCrime[12]}}</td>
            <td>{{selectedCrime[8].substring(0, 10)}}</td>
            <td>{{selectedCrime[9]}}</td>
            <td>{{selectedCrime[11]}}</td>
            <td>{{selectedCrime[16]}}</td>
        </tr>
    </tbody>
</table>
<nav aria-label="Page navigation" class="pageNumbering">
    <ul class="pagination">
        <li ng-click="prevPage()">
            <a href aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href >Page {{curPage.value + 1}} of {{selectedCrimes.length / pageSize | number:0}}</a></li>
        <li ng-click="nextPage()">
            <a href aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
</div>
